body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
    color: #333;
  }
  
  .inputContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;
    gap: 10px;
  }
  
  .inputContainer input {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #newTask {
    background-color: #44bb44;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #newTask:hover {
    background-color: #339933;
  }
  
  .taskSection h4 {
    color: #333;
  }
  
  #taskList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    gap: 20px;
  }
  
  .taskDescription {
    flex-grow: 1;
    color: #333;
  }
  
  .deleteButton {
    background-color: #ff4444;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .deleteButton:hover {
    background-color: #cc0000;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
  }